<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fried Chicken</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Alkatra&family=Comfortaa:wght@500&family=Roboto:wght@500&family=Ubuntu&display=swap"
      rel="stylesheet"
    />
    <style>
        *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
        /*Navigation bar*/
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 90px;
}

/* Navigation bar: logo and image*/
#logo{
    margin: 8px 20px;
}
#logo img{
    width: 70px;
    height: 70px;
}
#tagname{
    margin: 8px 20px 8px;
}
#tagname  h2{
    font-size: 30px;
    color: white;
    font-family: 'Alkatra';
}
#fast{
    color: crimson;
}
#foodie{
    color: coral;
}

/* Navigation bar: list styling*/
/* #navbar{
    position: relative;
} */
#menu{
    margin: 8px 20px 8px 378px;
}
.search{
    margin: 8px 20px 8px 168px;
}
#search-box{
    font-size: 22px;
    border-radius: 20px;
    padding: 3px 4px 3px 13px;
}
/* .switch{
    margin:8px 20px 8px;
} */
/* .switch a{
    font-size: 17px;
    border-radius: 6px;
    padding: 9px 4px 9px 4px;
    background-color: rgb(231 127 8);
    color: black;
    cursor: pointer;
    border:none;
    outline: none;
    font-family:'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: none;
} */
.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
.dropdown {
    position: relative;
    display: inline-block;
  }
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #ddd;}
  
.dropdown:hover .dropdown-content {display: block;}
  
.dropdown:hover .dropbtn {background-color: #3e8e41;}
#navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: #1e1818;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 1;
}
#navbar ul li{
    list-style: none;
    font-size: 1.3rem;
    font-weight: bold;
}
#navbar ul li .item{
    color: white;
    display: block;
    padding: 3px 23px;
    border-radius: 20px;
    text-decoration: none;
    font-family: 'Alkatra', cursive;
}
#navbar ul li .item:hover{
    color: black;
    background-color: white;
}
#catagories-container{
    text-align: center;
    margin: 10px;
}
#catagories{
    margin:70px;
    display: flex;
    justify-content: space-evenly;
}
#catagories .box{
    border: 2px solid brown;
    padding: 0px 0px 0px 0px;
    margin: 3px 50px;
    border-radius: 0px;
    background: #f2f2f2;
    height: 500px;
    width: 302px;
}
#catagories .box img{
    /* height: 160px; */
    display: block;
    margin: auto;
    height: 300px;
    width: 298px;
    transition-duration:0.15;
    transition-timing-function: ease-in-out;
}
.h-primary{
    font-size: 50px;
}
.h-secondary{
    margin-top: 12px;
    font-size: 25px;
    font-weight: bold;
}
#catagories .box p{
    font-size: 20px;
}
#catagories .box h3{
    font-size: 20px;
    margin-top: 15px;
}
#catagories .box #submit{
    font-size: 20px;
    margin-top: 15px;
    background-color: rgb(243, 243, 9);
    font-weight: bold;
    cursor: pointer;
    border-radius: 10px;
    padding: 6px 5px 6px 5px;
}
#size_quantity{
    display: flex;
    justify-content: space-evenly;
}
#size{
    font-size: 15px;
    margin-top: 6px;
}
#qunatity{
    font-size: 15px;
    margin-top: 6px;
}
    </style>
</head>
<body>
    <nav id="navbar">
      <div id="logo">
        <img src="static/logo-removebg-preview.png" alt="MyOnlineMeal.com" />
      </div>
      <div id="tagname">
        <h2><span id="fast">Fast</span> & <span id="foodie">Foodie</span></h2>
      </div>
      <div id="menu">
        <ul>
        <li><a class="item" href="/">Home</a></li>
        <li><a class="item" href="#services-container">Services</a></li>
        <li>
            <div class="dropdown">
                <a class="item" href="#">Menu</a>
                <div class="dropdown-content" >
                    <a href="/pizza">Pizza</a>
                    <a href="/burger">Burger</a>
                </div>
            </div>
        </li>
        <li><a class="item" href="/cart">Cart</a></li>
      </ul>
      </div>
      <div class="search">
        <input type="search" id="search-box" placeholder="search">
      </div>
      <div class="dropdown">
        <button class="dropbtn">Login/Signup</button>
        <div class="dropdown-content">
          <a href="/signup">Signup</a>
          <a href="/login">Login</a>
      </div> 
  </div>
    </nav>

    <section id="catagories-container">
      <!-- <h1 class="h-primary">ITEMS</h1> -->
      <div id="catagories">
        <div class="box">
          <img src="static/D-K445.jpg" 
          alt="" />
          <h2 class="h-secondary">5pc Smoky Red Chicken</h2>
          <hr>
          <form name="form" action="/chicken" method="post" id="form">
            {{!-- <div id="size_quantity">
                <div id="size_div">
                    <p>Size</p>
                    <select id="size" name="size">
                        <option>Small</option>
                        <option>Medium</option>
                        <option>Large</option>
                        <option selected hidden>- Select One -</option>
                    </select>
                </div>
                <div id="quantity_div">
                    <p>Quantity</p>
                    <select id="qunatity" name="quantity">
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                        <option selected hidden>- Select One -</option>
                    </select>
                </div>
            </div> --}}
            </form>
            <div id="price_buy_add">
                <h3>Price: 660</h3>
                <a href="/login"><button id="submit">To Proceed</button></a>
              </div>
               
        </div>
        <div class="box">
            <img src="static/D-K009.jpg" 
            alt="" />
            <h2 class="h-secondary">8 pc Hot & Crispy Chicken</h2>
            <hr>
            <form name="form" action="/chicken" method="post" id="form"></form>
              <div id="price_buy_add">
                  <h3>Price: 760</h3>
                  <a href="/login"><button id="submit">To Proceed</button></a>
                </div>
                 
          </div>
          <div class="box">
            <img src="static/D-PR00002169.jpg" 
            alt="" />
            <h2 class="h-secondary">Stay Home Bucket</h2>
            <hr>
            <form name="form" action="/chicken" method="post" id="form"></form>
              <div id="price_buy_add">
                  <h3>Price: 780</h3>
                  <a href="/login"><button id="submit">To Proceed</button></a>
                </div>
                 
          </div>
          <div class="box">
            <img src="static/D-PR00000638.jpg" 
            alt="" />
            <h2 class="h-secondary">Mingles Bucket Meal</h2>
            <hr>
            <form name="form" action="/chicken" method="post" id="form"></form>
              <div id="price_buy_add">
                  <h3>Price: 500</h3>
                  <a href="/login"><button id="submit">To Proceed</button></a>
                </div>
                 
          </div>
      </div>
    </section>
    <script>
    //fast & foodie
    const fast=document.querySelector('#fast')
    const foodie=document.querySelector('#foodie')
    const tagname=document.querySelector('#tagname')

    tagname.onmouseover = function(event) {
        fast.style.color = 'coral';
        foodie.style.color = 'crimson';
    };

    tagname.onmouseout = function(event) {
        fast.style.color = 'crimson';
        foodie.style.color='coral';
    };
    </script>
</body>
</html>